body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

#featured-property {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#featured-property p {
    text-align: center;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

nav a {
  padding: 10px;
  background-color: rgb(203, 163, 240);
}

nav {
  text-align: center;
}

figcaption {
  font-size: 12px;
  text-align: center;
}

#details div{
  float: left;
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  background-color: rgb(203, 163, 240);
}

